.cl-about {
  background-color: $cl_light_color_2;
  position: relative;
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
  }
  
  .cl-banner {
    padding: 220px 0 160px 0;
    min-height: 100vh;
    background: linear-gradient(
      180deg,
      #c7deff -18.52%,
      #edf2f7 33.95%,
      #f5f8fd 100%,
      $cl_white_color 100%
    );
    position: relative;
    .cl-banner-image {
      position: absolute;
      z-index: 2;
      top: 170px;
      left: calc(50% + 30px);
      width: 928px;
    }
    .cl-banner-body {
      position: relative;
      z-index: 2;
      .cl-banner-heading {
        font-weight: bold;
        font-size: 24px;
        line-height: 1;
        letter-spacing: -0.02em;
        span{
          background: linear-gradient(238.76deg, #7B83FC -24.57%, #7F9CF8 40.2%, #5183D9 73.34%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          font-size: 72px;
          letter-spacing: 0;
        }
      }
      .cl-banner-content {
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        color: #656c73;
        margin-bottom: 32px;
      }
    }
  }
  .cl-introduce {
    padding-top: 120px;
    padding-bottom: 60px;
    h3{
      font-size: 24px;
      letter-spacing: -0.02em;
      margin-bottom: 1rem;
      span{
        display: inline-block;
        color: #FFF;
        background: $cl_primary_color;
        padding: 16px 16px 0 5px;
      }
    }
    ul{
      font-size: 20px;
      line-height: 34px;
    }
    .photo{
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .cl-investors {
    padding: 80px 0;
    .cl-investors-heading {
      font-weight: bold;
      font-size: 36px;
      line-height: 1.3;
      
      margin-bottom: 112px;
      color: $cl_text_color;
    }
    .bg{
      background-image: linear-gradient(to bottom, #0B0C0F, #262627);
      padding: 120px 0;
    }
    ul{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0;
      li{
        width: 20%;
        margin-bottom: 10px;
        img{
          width: 100%;
          height: auto;
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%);
          transition: $cl_transition;
          &:hover{
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            filter: grayscale(0%);
          }
        }
      }
    }
  }
  .cl-where {
    padding: 80px 0;
    .cl-where-heading {
      font-weight: bold;
      font-size: 44px;
      line-height: 1.3;
      
      margin-bottom: 1rem;
      color: $cl_text_color;
    }
    .cl-where-heading-mini{
      color: $cl_darker;
      font-size: 24px;
      line-height: 38px;
    }
    .photo{
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
        transition: transform .4s;
        &:hover{
          transform: scale(1.5);
        }
      }
    }
  }
  .cl-achievement {
    padding: 80px 0;
    .cl-achievement-heading {
      font-weight: bold;
      font-size: 36px;
      line-height: 1.3;
      
      margin-bottom: 3rem;
      color: $cl_text_color;
    }
    .cl-achievement-block{
      border-right: 1px solid $cl_primary_color;
      padding: 15px 55px;
      h4{
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 1rem;
      }
      p{
        padding: 5px 0;
      }
    }
    .cl-achievement-block:first-child{
      border-left: 1px solid $cl_primary_color;
    }
    
  }
}
@media (max-width: 991px) {
  .cl-about {
    &::before,
    &:after {
      display: none;
    }
    .cl-banner {
      padding: 200px 0 100px 0;
      min-height: auto;
      .cl-banner-image {
        img {
          /* max-height: 420px; */
        }
      }
      .cl-banner-body {
        
        .cl-banner-heading {
          span{
            font-size: 42px;
          }
        }
      }
    }
    .cl-achievement{
      .cl-achievement-block{
        padding: 15px 30px;
      }
    }
  }
}
@media (max-width: 767px) {
  .cl-about {
    .cl-banner {
      padding: 67px 0 40px 0;
      .cl-banner-image {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
      }
      .container{
        position: absolute;
        top: 42vw;
        left: 0;
        right: 0;
      }
      .cl-banner-body {
        
        .cl-banner-heading {
          font-size: 14px;
          line-height: 1.3;
          color: $cl_white_color;
          span{
            font-size: 40px;
            color: $cl_white_color;
            line-height: 1;
            background: $cl_white_color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
    .cl-introduce{
      padding: 40px 0;
      .row:first-child{
        margin-bottom: 6rem;
      }
      h3{
        font-size: 20px;
        span{
          padding: 10px 10px 0 5px;
        }
      }
    }
    .cl-investors{
      padding: 40px 0;
      .cl-investors-heading {
        font-size: 34px;
        margin-bottom: 2rem;
      }
      .bg{
        padding: 60px 0;
      }
      ul{
        justify-content: flex-start;
        li{
          width: 33.33%;
        }
      }
    }
    .cl-where{
      padding: 40px 0;
      .cl-where-heading {
        font-size: 34px;
      }
      .cl-where-heading-mini{
        font-size: 16px;
        line-height: 24px;
      }
    }
    .cl-achievement {
      padding: 40px 0;
      .cl-achievement-heading {
        font-size: 34px;
        margin-bottom: 1rem;
      }
      .cl-achievement-block{
        border-right: none;
        border-left: 1px solid $cl_primary_color;
        padding: 1rem 1rem 1rem 2rem;
        margin-right: 4%;
        margin-left: 4%;
        width: 92%;
        h4{
          font-size: 30px;
        }
      }
      .cl-achievement-block:first-child{
        margin-bottom: 1rem;
        
      }
      
    }
  }
}
