// LAVENDER
$cl_font_family: "Sen";
$cl_white_color: #fff;
$cl_light_color: #fafafa;
$cl_light_color_2: #f9fafb;
$cl_primary_color: #0041C4;
$cl_secondary_color: #3abef0;
$cl_transition: all ease-in-out 0.3s;
$cl_text_color: #1f3549;
$cl_darker:#656C73;
$cl_yellow:#FFCF5C;
$cl_red:#FF647C;
.cl-loading {
  background-color: $cl_white_color;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  user-select: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    transition: all ease-in-out 0.3s;
    transform-origin: center center;
    animation: loadingEffect 2s infinite;
  }
}

@keyframes loadingEffect {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

body {
  font-family: $cl_font_family;
  overflow-x: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
a{
  text-decoration: none
}
main{
  min-height: calc(100vh - 122px - 395px);
}

// Components
@import "components/button";
@import "components/pagination";
@import "components/header";
@import "components/footer";
@import "components/connect";

// Pages
@import "pages/homepage";
@import "pages/careers";
@import "pages/projects";
@import "pages/internship";
@import "pages/internship-test";
@import "pages/wtf-program";
@import "pages/about";

// Modals
@import "modals/contact-modal";
.cl-404,
.cl-page-detail{
  min-height: calc(100vh - 385px);
  padding-top: 122px;
}
.text-right{
  text-align: right;
}