.cl-connect{
  background: $cl_yellow;
  padding: 35px 0;
  .cl-connect-heading{
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    color: $cl_text_color;
    margin: auto;   
  }
  .cl-connect-action {
    a {
      display: inline-flex;
      background: $cl_white_color;
      border-radius: 40px;
      padding: 28px 45px 28px 45px;
      font-weight: bold;
      font-size: 24px;
      line-height: 26px;
      color: $cl_red;
      transition: $cl_transition;
      &:hover {
        box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
@media (max-width: 991px) {
  .cl-connect {
    .cl-connect-action{
      a{
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 767px) {
  .cl-connect {
    .cl-connect-heading{
      text-align: center;
      margin-bottom: 1rem;
    }
    .cl-connect-action{
      text-align: center;
    }
  }
}